.navbar-nav {
    margin-left: auto;
  }
.timer {
    margin-left: auto;
    margin-right: auto;
}
.navbar-brand {
    color:white;
  }
.btn {
  width: 80%;
  margin: 0 10% 10px 10%;
  
}
.finishedQuiz {
  text-align: center;
}
.enterName {
  text-align: center;
}
#correct {
    background-color: yellow;
  }
.listOfNames {
  text-align: center;
}
body {
  background-color: lightgoldenrodyellow;
}
.resetButton {
  display: block;
  width: 25%;
  margin: 10px auto 10px;
}
.question {
  text-align: center;
}
.correctStatement {
  text-align: center;
  color: green;
}
.correctLine {
  color: green;
}
.wrongLine {
  color: red;
}
.wrongStatement {
  text-align: center;
  color: red;
}