.navbar-nav {
    margin-left: auto;
  }
.timer {
    margin-left: auto;
    margin-right: auto;
}
.navbar-brand {
    color:white;
  }
.btn {
  width: 60%;
  margin: 0 0 5px 10px;
}
  #correct {
    background-color: yellow;
  }