body {
  background-color: lightgoldenrodyellow;
}
.btn {
  width: 80%;
  margin: 0 10% 10px 10%;
  
}
.correctLine {
  color: green;
}
.correctStatement {
  text-align: center;
  color: green;
}
.enterName {
  text-align: center;
}
.finishedQuiz {
  text-align: center;
}
.listOfNames {
  text-align: center;
}
.navbar-brand {
  color:white;
}
.navbar-nav {
  margin-left: auto;
}
.question {
  text-align: center;
}
.resetButton {
  display: block;
  width: 25%;
  margin: 10px auto 10px;
}
.timer {
  margin-left: auto;
  margin-right: auto;
}
.wrongLine {
  color: red;
}
.wrongStatement {
  text-align: center;
  color: red;
}